@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Poppins";
}



/* Custom scrollbar styles to hide only the scrollbar thumb */
.scrollbar-hidden {

  scrollbar-width: none !important;


}

.heading-color{
  color:#001b33;
}
.bullet-points {
  width: full;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.bullet-point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fb8c00;

}

.active-bullet {
  width: 30px;
  border-radius: 30%;
}


@keyframes autoScroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.overflow-x-scroll {
  animation: autoScroll linear infinite;
}